 <div class="report">
  <button class="report__prev icon-arrow-left" title="Go to Global List"></button>
  <h2 class="report__title">
    Report
  </h2>
  <ul class="settings-tabs__tabs-controls tabs-controls tabs-controls--report-top">
    <li class="tabs-controls__item day-tab tabs-controls__item--active" data-report-tab-type="day">
      Day
    </li>
    <li class="tabs-controls__item week-tab" data-report-tab-type="week">
      Week
    </li>
    <li class="tabs-controls__item month-tab" data-report-tab-type="month">
      Month
    </li>
  </ul>
  <div class="report__container">
  </div>
  <ul class="report__legend">
    <li class="report__legend-item report__legend-item--urgent">
      Urgent
    </li>
    <li class="report__legend-item report__legend-item--high">
      High
    </li>
    <li class="report__legend-item report__legend-item--middle">
      Middle
    </li>
    <li class="report__legend-item report__legend-item--low">
      Low
    </li>
    <li class="report__legend-item report__legend-item--failed">
      Failed
    </li>
  </ul>
  <ul class="settings-tabs__tabs-controls tabs-controls tabs-controls--report-bottom">
    <li class="tabs-controls__item pomodoros-tab" data-report-tab-type="pomodoros">
      Pomodoros
    </li>
    <li class="tabs-controls__item tasks-tab tabs-controls__item--active" data-report-tab-type="tasks">
      Tasks
    </li>
  </ul>
</div>