<h2 class="main__title">
  Settings
</h2>
<div class="settings-tabs">
  <p class="settings-tabs__desc">
    Categories list overview
  </p>
  <ul class="settings-tabs__tabs-controls tabs-controls">
    <li class="tabs-controls__item tabs-controls__item--pomodoros">
      Pomodoros
    </li>
    <li class="tabs-controls__item tabs-controls__item--categories tabs-controls__item--active">
      Categories
    </li>
  </ul>
  <ul class="list-category">
    <li class="list-category__item list-category__item--work">
      <span class="list-category__text">
        Work
      </span>
    </li>
    <li class="list-category__item list-category__item--education">
      <span class="list-category__text">
        Education
      </span>
    </li>
    <li class="list-category__item list-category__item--hobby">
      <span class="list-category__text">
        Hobby
      </span>
    </li>
    <li class="list-category__item list-category__item--sport">
      <span class="list-category__text">
        Sport
      </span>
    </li>
    <li class="list-category__item list-category__item--other">
      <span class="list-category__text">
        Other
      </span>
    </li>
  </ul>
  <ul class="settings-tabs__setting-buttons setting-buttons">
    <li class="setting-buttons__item">
      <button class="setting-buttons__btn setting-buttons__btn_blue">
        Go to Tasks
      </button>
    </li>
  </ul>
</div>