<li class="settings-list-bar__item settings-list-bar__item--add settings-list-bar__item--hidden">
  <button class="settings-list-bar__icon icon icon-add" title="Add new task"></button>
</li>
<li class="settings-list-bar__item settings-list-bar__item--trash settings-list-bar__item--hidden">
  <button class="settings-list-bar__icon icon icon-trash" title="Delete task(s)"></button>
</li>
<li class="settings-list-bar__item">
  <button class="settings-list-bar__icon settings-list-bar__icon--active icon icon-list" title="Go to Global List"></button>
</li>
<li class="settings-list-bar__item">
  <button class="settings-list-bar__icon icon icon-statistics" title="Go to Reports"></button>
</li>
<li class="settings-list-bar__item">
  <button class="settings-list-bar__icon icon icon-settings" title="Go to Settings"></button>
</li>