<div class="task-list-tabs__task-list task-list task-list--daily">
  <p class="task__message">
    Task added,<br>
    drag it to the top 5 in daily task list
  </p>
  <span class="drag-first-task__icon icon-arrow_circle"></span>
</div>