<div class="task-list-tabs__task-list task-list task-list--daily">
  <img src="../images/tomato-addv02.svg" alt="tomato add" class="task-simple-template__img task-simple-template__img-add-tomato" width="164">
  <p class="task-simple-template__desc">
    You don’t have any tasks left.<br>
    Add new tasks to stay productive.
  </p>
</div>
