<h2 class="main__title main__title--icon">
  <button class="main__icon--add icon-add"></button>
    Daily Task List
</h2>
<div class="task-simple-template">
  <img src="../images/tomato-add.svg" alt="tomato add" class="task-simple-template__img" width="164">
  <div class="task-simple-template__button">
    Add your first task
  </div>
</div>