<h2 class="main__title main__title--icon">
  <button class="main__icon--add icon-add"></button>
    Daily Task List
</h2>
<div class="task-simple-template">
  <img src="../images/tomato_settings.svg" alt="tomato add" class="task-simple-template__img" width="164">
  <p class="task-simple-template__desc">
    As you visited our site for a first time you can check<br>
    and customize your default application settings
  </p>
  <ul class="task-simple-template__setting-buttons setting-buttons">
    <li class="setting-buttons__item">
      <button class="setting-buttons__btn setting-buttons__btn_skip setting-buttons__btn_blue">
        Skip
      </button>
      <button class="setting-buttons__btn setting-buttons__btn_go-to setting-buttons__btn_green">
        Go to Settings
      </button>
    </li>
  </ul>
</div>