<h2 class="main__title main__title--icon">
  <button class="main__icon--add icon-add" title="Add new task"></button>
    Daily Task List
</h2>
<div class="task-list-tabs">
  <ul class="task-list-tabs__tabs-controls tabs-controls tabs-controls--todo-done">
    <li class="tabs-controls__item tabs-controls__item-todo tabs-controls__item--active">
      To Do
    </li>
    <li class="tabs-controls__item tabs-controls__item-done">
      Done
    </li>
  </ul>